<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Core Application</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/Custom.js"></script>
</head>
<body>
    <div class="sidebar">
        <a class="nav-link text-light font-weight-bold px-3 ml-4">
            <img src="~/images/img2.jpg" asp-append-version="true" />
        </a>
        <a asp-controller="Product" asp-action="Index" class="nav-link mt-2 ml-3 text-light">Products</a>
        <a asp-controller="Category" asp-action="Index" class="nav-link text-light ml-3"> Catagory</a>
    </div>

    <div class="main">
        <div class="container-fluid">
            @RenderBody()
            <footer class="main-footer bg-light">
                <p class="text-dark">&copy; @DateTime.Now.Year - All Rights Reserved</p>
            </footer>
        </div>
    </div>
</body>
</html>