<div class="container productBox mt-5">
    <div class=" text-center pb-2 ">
        <h1>404 Not Found.</h1>
        <h2>@ViewBag.ErrorMessage</h2>
        <a asp-controller="Product" asp-action="Index" class="btn btn-success">Go Back</a>
    </div>
</div>
