@model int

@{
    ViewData["Title"] = "ProductNotFound";
}

<div class="container">
    <div class="card-body mt-5 text-center text-capitalize productBox ">
        <h1>404 Not found.</h1>
        <h3>Product with Id = @Model not found</h3>
        <a asp-controller="Product" asp-action="Index" class="btn btn-success">Go Back</a>
    </div>
</div> 