@model ProductManagement.Models.Category

@{
    ViewData["Title"] = "Save";
}

<div class="container product my-5">
    <h4 class="text-danger">Category</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Save" id="categoryForm" method="Post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Name" class="control-label"><b>Name</b></label>
                    <input asp-for="Name" class="form-control" maxlength="50" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <a asp-controller="Category" asp-action="Index" class="btn btn-info">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>
